.container-game {
  margin: 50px;
}

.guesses-left {
  font-family: $headers-font;
  color: white;
  font-size: 20px;
  margin: 0 7vw 1em;
}

.answer-page-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: $headers-font;
  margin: 0 6vh 8vw;
  background-color: #FFFFFF;
  border-radius: 50px;
  height: 50vh;

}


.answer-page-card h1 {
  color: $purple;
  font-size: 22px;
  text-align: center;
  line-height: 1.7em;

}

.answer-page-card p {
  display: flex;
  justify-content: center;
  font-family: $p-font;
  font-size: 1.5em;
  text-align: center;
}

.info-p-tags {
  color: #C6BFBF;
  font-size: 18px;
}

#green-correct {
  color: #2B9348;
}

#hint-word {
  color: #FFD639;
}

// .btn-answer-page {
//   font-family: $p-font;
//   text-decoration: none;
//   background-color: #7e7ca1;
//   color: white;
//   padding: 16px 16px;
//   border-radius: 20px;
//   font-size: 18px;

//   &:hover {
//     background-color: #373870;
//   }
// }
