.answer-page-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: $headers-font;
  margin: 0 8vw;
  background-color: #FFFFFF;
  border-radius: 50px;
  height: 50vh;
}

.x-icon {
  position: absolute;
  top: 32px;
  left: 48px;
}

.answer-page-card h1 {
  color: $purple;
  font-size: 32px;
}

.answer-page-card p {
  display: flex;
  justify-content: center;
  font-family: $p-font;
  font-size: 24px;
}

.info-p-tags {
  color: #C6BFBF;
  font-size: 18px;
}

#green-corr-btn {
  color: #5CFF7C;
}

.btn-answer-page {
  font-family: $p-font;
  text-decoration: none;
  background-color: #373870;
  color: white;
  padding: 16px 16px;
  border-radius: 20px;
  font-size: 18px;
}
