.title-dashboard h2{
  color: white;
}

#open-games {
  margin-bottom: 4em;
}


.try-again-btn {

}

.result-container {
  background-color: transparent;
  border-radius: 90px;
  padding: 20px;
  border: 3px solid white;
  margin: 30px 0;
}

.topic-and-count {
  font-family: Dela Gothic One;
  color: white;
  display: flex;
  flex-direction: row;
  margin: 0 7vw 1em;
  justify-content: space-between;
}

#topic-name {
  display: flex;
  flex-direction: column;
}
