#homepage-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding:  0;

}

.describtion {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 80px;
  color: $light-gray;
  font-family: $headers-font;
  letter-spacing: .1rem;
}

.get-started-btn {
  padding: 17px 96px;
  display: inline-block;
  background-color: #3E3B72;
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
}
