#homepage-container {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
  border-radius: 0px 0px 70px 70px;
  background: linear-gradient(107deg, #76C6E1 -24.85%, #A6A3D1 54.98%);
  margin-left: 20px;
  margin-right: 20px;

}

.homepage-title {
  font-weight: 400;
  color: $light-gray;
  font-size: 90px;
  margin: 20px;

}


.describtion {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 50px;
  color: $light-gray;
}

.get-started-btn {
  padding: 17px 96px;
  display: inline-block;
  background-color: #3E3B72;
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
}
