
.show-page-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: $headers-font;
  margin: 0 6vh 8vw;
  padding: 50px;
  background-color: #FFFFFF;
  border-radius: 50px;
}

#q-header {
  color: $purple;
  font-size: 22px;
  text-align: center;
  padding: 20px;
  line-height: 1.7em;
}

// #question-id-input {

// }

#content-input {
  width: 500px;
  color: black;

  &::-webkit-input-placeholder { // Chrome, Opera, Safari
    color: black;
    opacity: 0.7;
  }

  &::-moz-placeholder { // Firefox 19+
    color: black;
    opacity: 0.7; // Firefox adds an opacity to the color; this rule counteracts that
  }

  &:-ms-input-placeholder { // IE 10+
    color: black;
  }

  &:-moz-placeholder { // Firefox 18-
    color: black;
    opacity: 0.7;
  }
}

.btn-primary-skip {
  font-size: 14px;
  color: rgb(94, 89, 89);
  margin: 8px 16px;
  border: 1px solid rgb(94, 89, 89);
  border-radius: 20px;
}

// #guess-submit-button {
//   background-color: #7e7ca1;
//   color: white;
//   padding: 8px 35px;
//   margin-bottom: 20px;
//   border-radius: 30px;
//   font-size: 18px;

//   &:hover {
//     background-color: #373870;
//   }
// }
