
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background: transparent;
    padding-inline: 40px;
    padding-block: 20px;
    width: 400px;
    max-width: 80%;
    border-radius: 10px;
    border-radius: 40px;
    border: 3px solid #EFF1F1;
    margin-top: 0px;
    margin-bottom: 40px;
}

.form-box a {
    color: #373870;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.form-inputs {
    color: #FFF;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    font-family: $body-font;
}

.form-box .btn-primary {
    background-color: #3E3B72;
    border-radius: 40px;
    border: none;
    margin-bottom: 10px;
    height: 48px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Dela Gothic One;
    font-size: 16px;
    font-weight: 400;
}

.form-container h2 {
    color: #EFF1F1;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.form-box .custom-input {
    border-radius: 40px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 12px;
}

.form-check-label {
    color: #373870;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
