#q-font{
  font-family: "Dela Gothic One";
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin: 7px 0;
    color: $purple;
}

.p_title {
  margin: 0;
  margin: 24px 0;
  color: $purple;
}

// .p-font {
// }

.card_container {
  display: flex;
  align-items: center;
	justify-content: center;
}

.title_summary h1 {
  font-family: "Dela Gothic One";
  font-size: 50px;
  color: white;
  margin-bottom: 87px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.avatar-card {
  border-radius: 50%;
  overflow: hidden;
  height: 175px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 86px;
}

.summary_card {
  background: transparent;
  border: 3px solid white;
  border-radius: 40px;
  height: auto;
  margin-bottom: 40px;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 30px;
}

.p_title {
  font-family: "Dela Gothic One";
  font-weight: 200;
  font-size: 30px;
  padding: 20px 0px 0px 0px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.score {
  padding: 17px 96px;
  margin: 10px 100px;
  display: inline-block;
  font-family: "Dela Gothic One";
  background-color: #fff;
  color: blueviolet;
  font-size: 36px;
  text-align: center;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

#answer {
  color: white;
  // text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.6px;
}

#answer-true {
  color: #23a67c;
  // text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.6px;
}

.answer-false{
  color: #a1320a;
  // text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.6px;
}

#link-btns-summary {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  align-items: baseline;
  margin: 8px 0;
}

.question-summary {
  margin: 24px 0;
  font-family: "Poppins", "Helvetica", "sans-serif";
  font-size: 16px;
  font-weight: 600;
  text-align: inherit;
}

.results {
  border-radius: 25px;
  border: 2px solid white;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 0px 5px rgba(217, 217, 217, 0.899);
}
