
<div class="container">
  <h1><%= current_user.nickname.capitalize %>'s Stats</h1>
  <%# Display completed games %>
  <h2>Completed games</h2>
  <% @display_states_completed.each do |display_states| %>
    <div class="progress-bar">
      <% display_states.each do |d| %>
        <% if d == "correct" %>
          <div class="box answered-true"></div>
        <% elsif d == "incorrect"%>
          <div class="box answered-false"></div>
        <% else %>
          <div class="box answered-empty"></div>
        <% end %>
      <% end %>
  </div>
  <% end %>
  <%# Display open games %>
  <h2>Open games</h2>
  <% @display_states_open.each do |display_states| %>
    <div class="progress-bar">
      <% display_states.each do |d| %>
        <% if d == "correct" %>
          <div class="box answered-true"></div>
        <% elsif d == "incorrect"%>
          <div class="box answered-false"></div>
        <% else %>
          <div class="box answered-empty"></div>
        <% end %>
      <% end %>
  </div>
  <% end %>

</div>
