<footer class="footer row">
  <div class="footer-logo col-sm-3">
    <%= image_tag("quizzy.png") %>
  </div>
    <ul class="about-links-1 col-sm-3">
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="about-links-2 col-sm-3">
      <li><a href="#">Information</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  <div class="col-sm-3">
    <ul class="social">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    </ul>
  </div>
  <div class="copyright">
    <p>copyright @ 2023 all rights reserved</p>
  </div>
</footer>
