<div class="card-trip topic-selection">
  <% image_url = "https://source.unsplash.com/featured/?#{topic.name}" %>
  <img src="<%= image_url %>" />
  <div class="card-trip-infos">
    <h2><%= topic.name %></h2>
    <p><%= topic.category %></p>
  </div>
</div>
