<% image_url = "https://source.unsplash.com/featured/?#{topic.name}" %>
<div class="card-trip-infos">
  <img src="<%= image_url %>" />
  <h2><%= topic.name %></h2>
  <p><%= topic.category %></p>
</div>
