<div id="homepage-container">
  <div class="homepage-content">
    <%# <h1 class="homepage-title">Quizzy</h1> %>
    <p class="describtion">Test your knowledge <br/>in different topics <br/>together with your friends</p>
    <%= link_to "Get Started", new_game_path, class: "get-started-btn" %>
  </div>
</div>
