<%# <div  id="homepage-container">
    <%= link_to 'Art Space', artworks_path, id: 'main_page_title' %>
    <%# <%= link_to 'Explore ', artworks_path, class: "link_btns" %>
<%# </div> %>



<div id="homepage-container">
  <h1 class="homepage-title">Quizzy</h1>
  <p>Test your knowledge in different topics together with your friends</p>
  <a class="get-started-btn" href="#">Get Started</a>
</div>


