<div id="homepage-container">
  <div class="homepage-content">
    <h1 class="homepage-title">Quizzy</h1>
    <p>Test your knowledge in different topics together with your friends</p>
    <a class="get-started-btn" href="#">Get Started</a>
  </div>
</div>
