
<div class="container">

  <p>The game had <%= @game.number_of_questions %> questions.</p>
  <p>You answered <%= @correct_questions %> questions correctly and took
  <%= @guesses_per_correct_answer %> guesses per question to answer it correctly.</p>

</div>
