.create-btn-dashboard {
  cursor: pointer;
  background-color: #76C6E1;
  color: #EFF1F1;
  padding:14px;
  border-radius: 28px;
  font-size: 16px;
  position: absolute;
  margin-left: 27vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 3px solid #373870;
  line-height: 17px;
}
