.card-trip {
  overflow: hidden;
  background: #FDFFFF;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 230px;
  height: 307px;
  border-radius: 28px;
}

.card-trip > img {
  height: 150px;
  width: 197px;
  // object-fit: cover;
  margin-top: 19px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 14px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
