.card-trip {
  overflow: hidden;
  background: #FDFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.383);
  width: 230px;
  height: 307px;
  border-radius: 20px;
}

.card-trip > img {
  height: 150px;
  width: 197px;
  margin-top: 19px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 12px;
}

.card-trip h2 {
  font-size: 16px;
  margin-bottom: 6px;
  font-family: $body-font;
}

.card-trip p {
  font-size: 15px;
  margin-right: 13vh;
  margin-left: 0vh;
  display: inline;
  font-family: $headers-font;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: table-cell;
  justify-content: space-between;
  align-items: flex-end;

}

.card-trip-infos {
  right: 16px;
  top: -20px;
  width: 40px;
}
