// GRID CARDS
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0vh 0 14vh;
  justify-items: center;
  margin-left: 24vh;
  margin-right: 24vh;
  background-color: #F2F0F5;
  border-radius: 28px;
}

.under-grid {
  margin: -20vh 0 0vh;
  margin-left: -11vh;
  margin-right: -11vh;
  background-color: #F2F0F5;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 968px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 6vh 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
  }
}

.card-trip {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.card-trip img {
  object-fit: cover;
}

.card-trip-infos {
  margin-top: 1vh;
  margin-left: 3vh;
}

.topic-selection {
  cursor: pointer;
  transition: background-color 0.3s;
}

.topic-selection:hover {
  background-color: #635CD1;
  color: white;
}
