.content-navbar {
  padding-top: 100px;
  background: linear-gradient(107deg, #76C6E1 -24.85%, #A6A3D1 54.98%);
  min-height: 67vh;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 0 20px;
}
