.create-your-topic {
  background-color: #F2F0F5;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0px 341px;
}

.title-text {
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: -63px;
  margin-left: 294px;
  color: white;
}

.input-new-topic {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 20px;
}
