.create-your-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 9em 0 16px;
}

.title-text {
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: -63px;
  color: #373870;
}

.input-new-topic {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 14px 44px;
  background: transparent;
  border: 3px solid white;
}

.form-control {
  border-radius: 30px;
  background-color: rgba(244, 244, 244, 0.3);
  border: 1px solid rgb(255, 255, 255);
}

.form-control:focus {
  background-color: rgba(244, 244, 244, 0.3);
}
