.footer {
  background-color: black;
  text-align: center;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer li{
  list-style: none;
}

.footer-logo img {
  width: 50px;
  margin-top: 25px;
}

.social li {
  // align-items: baseline;
  display: inline-block;
  margin-top: 35px;
}

.copyright p {
  font-size: 12px;
  color: #9F9C9C;
  padding: 8px;
}
