.footer {
  background-color: $black;
  text-align: center;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding-top: 20px;
  margin: 20px 20px 0px 20px;
  margin-top: auto;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer li{
  list-style: none;
}

.footer-logo img {
  width: 110px;
  margin-top: 33px;
}

.about-links-1 {
  padding: 17px 0px 17px 17px;
}

.about-links-2 {
  padding: 17px 17px 17px 0px;
}

.social li {
  display: inline-block;
  margin-top: 45px;
  font-size: 20px;

}

.copyright p {
  font-size: 12px;
  color: #9F9C9C;
  padding: 4px;
  margin-bottom: 4px;
}
