// CONTAINERS

#difficulty {
  margin-top: 3.2vh;
}

#questions {
  margin-top: 3vh;
  height: 105px;
}

.new-dashboard {
  background-color: #F2F0F5;
  height: 15vh;
  border-radius: 2rem;
  margin: 0 5vw;
  font-family: $p-font;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  top: -18vh;
}