.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 13px;
  margin: 0 7vw 2em;
  height: 2em;
}

.box {
  flex-grow: 1;
  min-width: 50px;
  height: 1em;
  background-color: white;
  border-radius: 24px;
}

.answered-true {
  background-color: #AED581;
}

.answered-false {
  background-color: #FF5722;
}

.answered-empty {
  background-color:  #CCCCCC;
}
