// CONTAINERS

#difficulty {
  // margin-top: 3.2vh;
  padding-left: 50px;
}

// #questions {
//   // margin-top: 3vh;
//   // height: 105px;
//   margin: 100px 0px;
// }

.new-dashboard {
  background-color: transparent;
  border-radius: 40px;
  border: 3px solid white;
  font-family: $p-font;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.985);
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  top: -25vh;
}


.col-form-label {
    font-size: 20px;
    font-family: $headers-font;
    // font-weight: 400px;
    margin-bottom: 5px;
    color: white;
}
