.navbar-lewagon {
  top: 0;
  z-index: 100;
  background: #F2F0F5;
  border-radius: 50px;
  margin-top: -56px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  width: 1200px;
  height: 55px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Dela Gothic One";
  // position:absolute;
  position: sticky;
  top: 16px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-button {
  margin-left: 8px;
}

.navbar-brand {
  font-size: 18px;
}

.btn-rounded {
  border-radius: 50px;
}

.avatar-round {
  border: 2px solid $purple;
  border-radius: 50%;
  width: 40px;
}

.dropdown-menu {
  border-radius: 15px;
  background: linear-gradient(107deg, #76C6E1 -24.85%, #A6A3D1 54.98%);
  border: 2px solid $purple;
  padding: 8px 10px 8px 10px;

}

.dropdown-item {
color: #F2F0F5;
&:hover {
  background-color: #F2F0F5;
  color: $black;
  border-radius: 13px;
}
}
