.navbar-lewagon {
  top: 0;
  z-index: 100;
  background: #F2F0F5;
  border-radius: 50px;
  margin-top: -56px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  width: 1200px;
  height: 55px;
  flex-shrink: 0;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Dela Gothic One";
  // position:absolute;
  position: sticky;
  top: 16px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-button {
  margin-left: 8px;
}

.navbar-brand {
  font-size: 18px;
}

.btn-rounded {
  border-radius: 50px;
}
