<footer class="footer row fixed-bottom">
  <div class="footer-logo col-sm-3">
    <img src="https://img.freepik.com/free-vector/abstract-company-logo-template_1043-169.jpg?w=1480&t=st=1693391191~exp=1693391791~hmac=77146d99e962697d3c53a8bb394da06640437c0a537c3356b40b4b4b61d1e7e5" alt="Logo">
    <%# <p>Quizzy</p> %>
  </div>
    <ul class="about-links col-sm-3">
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="about-links col-sm-3">
      <li><a href="#">Information</a></li>
      <li><a href="#">Suport</a></li>
    </ul>
  <div class="col-sm-3">
    <ul class="social">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    </ul>
  </div>
  <div class="copyright">
    <p>copyright @ 2023 all rights reserved</p>
  </div>
</footer>
